html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
button:focus {
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/* start global properties  */
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif,'Roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
}
/* end global properties  */

/*Start landing page*/

/* start header section*/
header .logo {
    width: 100px;
    height: 50px;
}
header .bg-light {
    background-color:#fff !important;
}
header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header .navbar-light .navbar-nav .nav-link{
    margin-left:5px;
    margin-right:5px;
}
header .navbar-light .navbar-nav .nav-link:hover,
header .nav-item.active a{
    color:#7c7c7c !important;
    border-bottom: 1px solid #7c7c7c;
}

header .nav-item a {
    color:black !important;
    font-weight: bold;
}
header .icon-container {
    display:inline-flex;
    margin-left:25px;
}
@media(max-width:1023px){
    header .navbar-expand-lg .navbar-nav {
        flex-direction: unset;
        display: inline;
    }
    header .icon-container{
        margin-left:0;
    }

}
/* end header section*/
 /* start business section  */
 .business {
     padding-top:70px;
     padding-bottom:70px;
 }
 @media(max-width:1023px){
     .business{
         padding-bottom:20px;
         padding-top:20px;
         text-align: center;
     }

 }
 .business .content-container {
     padding-top:50px;
 }
 .business .content-container h2 {
     color:#474747;
     margin-bottom: 20px;
 }
 .business .content-container h2 .true {
     color:black;
 }
 .business .content-container p {
     font-size: 18px;
     color:#7c7c7c;
 }
 .business .content-container .read {
     background-color:black;
     color:#fff;
     border-radius: 0;
     width:180px;
     margin-top:25px;
 }
 /* end business section  */
 .achievements {
     padding-top:70px;
     padding-bottom:70px;
     position: relative;
 }
 @media(max-width:1023px){
    .achievements{
        padding-top:20px;
        padding-bottom:20px;
        text-align: center;
    }

 }
 .achievements .item-container {
     position: absolute;
     top:10px;
     z-index: 3;
 }

 .achievements .item-container .item {
     min-width:300px;
     min-height: 200px;
     border:1px solid #eee;
     box-shadow:5px 1px 15px -8px #000000;
     border-radius: 5px;
     background-color:#fff;
 }
 .achievements .item-container .item.first {
     margin-left:25px;
 }
 .achievements .item-container .item.third {
     margin-right:25px;
 }
 .achievements .item-container .item.middle {
     margin:auto;
     width: 325px;
 }
 .achievements .item-container .item .content {
     padding:15px;
     text-align: center;
 }
 .achievements .item-container .item .content h6 {
     font-weight: bold;
     margin-bottom:10px;
 }
 .achievements .item-container .item .content p{
     color:#7c7c7c;
 }
 .achievements .achievements-content {
     background-color:black;
     padding-top:70px;
     padding-bottom:70px;
     color:#fff;
     min-height: 600px;

 }
 .achievements .achievements-content .heading {
     text-align: center;
     margin-top:10%;
 }
 .achievements .achievements-content .heading .text-holder {
     width:60%;
     margin:auto;
     margin-top:20px;
 }
 .achievements .achievements-content .heading .text-holder p {
     font-size:16px;
 }
 .achievements .awards {
     margin-top:70px;
 }
 .achievements .awards .holder {
     text-align: center;
 }
 .achievements .awards .holder h5{
    font-size:36px;
 }
 @media(max-width:1023px){
    .achievements .item-container{
        position: relative;
        z-index: 1;
        top:0;
    }
    .achievements .item-container .item.middle,
    .achievements .item-container .item.first, 
    .achievements .item-container .item.third{      
        max-width: 300px;
        margin:auto;
        margin-bottom:20px;
    }
    .achievements .awards .holder{
        margin-bottom:20px;
    }

 }
 /* start section results  */
 .results {
     padding-bottom:50px;

 }
 @media(max-width:1023px){
     .results{
         text-align: center;
     }
     .results .progress-container{
         min-height: 250px;
     }
 }
 .results .read {
    background-color:black;
    color:#fff;
    border-radius: 0;
    width:180px;
    margin-top:25px;
 }
 .results .text-content h4 {
     font-size: 30px;
     font-weight: bold;
     margin-bottom:20px;
 }
 .results .text-content p{
     color:#555555;
     font-size:16px;
     line-height: 1.5;
 }
 /* end section results  */
 /* start progress section  */
 .results {
     padding-bottom:50px;
 }
 .results .progress-container{
     height: 100%;
     padding:10px;
     position: relative;
     overflow-y: hidden;
 }
 .results .progress-container .progressbar{
     height: 90%;
     width:10px;
     border:1px solid #000000;
     margin-left:5px;
     background-color:#000000;
 }
 .results .progress-container .prog {
     background-color:#474747;
     width:100%;
     height:10%;
     border:1px solid #474747;   
 }
 .results .progress-container .month {
     text-align: center;
     font-size: 14px;
     color:#333;
     font-weight: bold;
    }
.results .progress-container .percent{
    position: absolute;
    left:30px;
    top:40%;
    font-size: 14px;
    font-weight: bold;
}
@media(max-width:1023px){
    .results .progress-container .percent{
        position: relative;
        left:0;
        top:0;
        font-size:10px;
        font-weight: bold;
        display: block;
    }
    .results .progress-container .progressbar{
        height: 75%;
        margin:auto;
    }
    .results .progress-container .month{
        font-size:10px;
        font-weight: bold;
        display: block;
    }
}
 /* end progress section  */
 /* start section services  */
 .services {
     padding-top:70px;
     padding-bottom:70px;
 }
 @media(max-width:1023px){
    .services{
        text-align: center;
    }
 }
 .services .text-content {
     margin-top:20px;
 }
 .services .text-content h5 {
     font-weight: bold;
     font-size:28px;
     margin-bottom:20px;
 }
 .services .text-content p{
     color:#474747;
     font-size:16px;
 }
 /* end section services  */
 /* start section get started  */
 .started {
     padding-top:70px;
     padding-bottom:70px;
     background-color:#000000;
     color:#fff;
 }
 .started .content {
     text-align: center;
 }
 .started .content h2 {
     margin-bottom:20px;
     font-size:30px;
 }
 .started .content p{
   color:#b7b7b7;
   margin-bottom:20px;
 }
 .started .content .start-button {
     background-color:#fff;
     color:#333;
     border-radius: 0;
 }
 /* end section get started  */
 /* start section contact us  */
 .contact-us {
     padding-top:70px;
     padding-bottom:70px;
 }
 .contact-us .form-container {
     border:1px solid #eee;
     padding:30px;
     border-radius: 5px;
     box-shadow: 1px 15px -8px #000000;
     background-color:#fff;
 }
 .contact-us .form-container .submit {
     background-color:#000000;
     color:#ffff;
 }
 .contact-us .info {
     padding:20px;
 }
 .contact-us .info p{
     margin-bottom:20px;
     margin-top:30px;
     font-size: 18px;
 }
 /* end section contacnt us  */
 /* start footer  */
 .footer {
     padding-top:30px;
     padding-bottom:30px;
     background-color:#000000;
     color:#fff;
     text-align: center;
 }
 /* end footer  */
/*End landing page*/